{% macro kbd(text) %}
<span class="keyboard-key">{{ text }}</span>
{% endmacro %}

<article class="wrapper" data-show-on="NON_EMPTY_COLUMN_FILTER_SELECTED"
    data-hide-on="EMPTY_COLUMN_FILTER_SELECTED">
    {% include "table-bar.html" %}

    <div class="horizontal-scroll">
        <table class="pure-table pure-table-striped table-with-selectable-cells"
               data-manager="" >
            {% for table_part in summary["sample_table"]["parts"] %}
            {% if table_part["name"] == "ellipsis" %}
            <tbody>
                <tr>
                    {% for i in range(summary["sample_table"]["min_j"], summary["sample_table"]["max_j"])%}
                    <td
                        {% if i >= 0%}
                        data-manager="FilterableColumn"
                        data-column-idx="{{ i }}"
                        {% endif %}
                    >⋮</td>
                    {% endfor %}
                </tr>
            </tbody>
            {% else %}
            <{{ table_part['elem'] }}>
            {% for row in table_part["rows"] %}
            <tr>
                {% for cell in row %}
                <{{ cell['elem'] }}
                data-manager="SampleTableCell {% if 'column_idx' in cell %}FilterableColumn{% endif %}"
                rowspan="{{ cell['row_span'] or 1 }}"
                colspan="{{ cell['col_span'] or 1 }}"
                data-value-repr="{{ cell['value'].__repr__() }}"
                data-value-str="{{ cell['value'].__str__() }}"
                {% if cell['column_idx'] %}
                data-column-idx="{{ cell['column_idx'] }}"
                {% endif %}
                >
                {{ cell["value"] }}
                </{{ cell['elem'] }}>
                {% endfor %}
            </tr>
            {% endfor %}
            </{{ table_part['elem'] }}>
            {% endif %}
            {% endfor %}
        </table>
    </div>

    <div class="table-footer">
    <div>
        <strong>{{ summary.n_rows | format_number }}</strong> rows ✕
        <strong data-manager="ColumnFilterMatchCount"
            data-test="n-columns-display">{{ summary.n_columns | format_number }}</strong> columns.
    </div>
    <div class="keyboard-hints">
        <div>
            {{ kbd("Ctrl-C") }}
            {{ kbd("←") }}
            {{ kbd("↑") }}
            {{ kbd("↓") }}
            {{ kbd("→") }}
            {{ kbd("Esc") }}
        </div>
    </div>
    </div>


    <div class="column-summary-group columns-in-sample-tab">
        {% set in_sample_tab=True %}
        {% for column in summary.columns %}
        {% set col_id="col_{}_in_sample_tab".format(loop.index0) %}
        {% include "column-summary.html" %}
        {% endfor %}
        {% set in_sample_tab=False %}
    </div>
</article>

{% include "no-filter-matches.html" %}
